@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

body, html {
    height: 100%;
}

body {
    font-family: Comfortaa, sans-serif;
    padding: 20px;
}

button {
    cursor: pointer;
}